APP_NAME=Mamokacha
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.mamokachaplc.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=mamokachaplccom_mamokacha
DB_USERNAME=mamokachaplccom_mamokacha
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

# Mailtrap Email API (https://mailtrap.io/api-tokens)
MAILTRAP_HOST=send.api.mailtrap.io
MAILTRAP_BULK_HOST=bulk.api.mailtrap.io
MAILTRAP_API_KEY=
MAILTRAP_INBOX_ID=
MAILTRAP_TEST_TO=
MAILTRAP_USE_BULK=false

JWT_SECRET=
